@import "../base/variables";
@import "../base/global";

//foundation
// @import "../base/foundation-settings";
// @import "foundation";
// @include foundation-everything;

// @include foundation-grid;
// @include foundation-flex-classes;
// @include foundation-flex-grid;



.app {
    padding: 2rem;
    padding-top: 5rem;
    height: 100vh;
}

#heading {
    margin-bottom: 2rem;
    color: white;
}

#generator {
    background: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
}

#footer {
    margin-top: 1rem;
}